<!DOCTYPE html>
<html>
<head>
  <title>Gaucho</title>
  <%= stylesheet_link_tag    "gaucho/application", media: "all" %>
  <%= javascript_include_tag "gaucho/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
